/*CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0;padding: 0;border: 0;outline: 0;}
:focus {outline: 0;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
a {text-decoration:none;cursor:pointer;}
a, a:hover, a:active {color:#000;}
ul {list-style:none;}
.clear{clear:both;}
.full{width:100%;}
.hidden{display:none;}
/*-----------------------------------------------*/


html {
	width: 100%;
	height: 100%;
}


body{
	height: 100%;
	background-color:#ffffff;
	/*background-image:url('/static/img/splash_page.png');*/
	background-position:top;
	background-size: 100% auto;
	/*background-size: contain;*/
	background-repeat:repeat-x;
}


@font-face {
font-family: "Courier", Georgia, Serif;
font-weight: normal;
font-style: normal;
}


.email{
	position:absolute;
	margin-top: 22%;
	margin-left: 45px;
	padding-top: 15px;
	padding-left: 52px;
	/*margin-right: 10%;*/

}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	/*vertical-align: middle;*/
}


#btnbtn {
	margin-left: 62px;
	padding-left: 30px;
}

.email-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#48bab0;
	/*background-color:transparent;*/
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:0px solid #dcdcdc;
	display:inline-block;
	color:#222222;
	font-family:Courier New;
	font-size:18px;
	font-weight:normal;
	padding:4px 24px;
	text-decoration:none;
	margin-top: -15px;
}

.email-btn:active {
	position:relative;
	top:1px;
}

#thanks {

}




h2{
	font:normal 22px Courier;
	/*line-height:30px;*/
}

h3{
	font:normal 12px Courier;
	/*line-height:30px;*/
}



p{
	font:normal 12px Georgia;
	line-height:18px;
}



 #container {
	position: absolute;
	top:130px;
	/*left:0px;*/ 
	width:100%;
	min-height:100%;
	height: auto !important;
	min-width:1150px;
	margin: 0 auto -50px;
	/*background-image: url('/static/img/linedpaper.png');*/
}


#push, #footer{
	font: normal 11px "Georgia";
	letter-spacing: 2px;
	/*position: absolute;*/
	/*margin-top: -150px;
	margin: 0px auto;*/
	height: 50px;
	padding-left: 40%;
	/*clear: both;*/
	/*padding-top:20px;*/
}


article:hover {
	/*background-color:#f8f8f8;*/
	/*background-image: url('/static/img/linedpaper.png');*/
	/*background-repeat:repeat-x;*/
}

.displayed {
	display: block;
	margin-left:auto;
	margin-right:auto;
	

}


/*#header{
	position: absolute;
	z-index:1000;
	top: 25px;
	left: 6%;
	overflow:hidden;
	color:#000;
}*/



.dropcap{
	color: #887072;
	font:normal 48px "ltc-bodoni-175", Georgia;
	line-height:20px;
	letter-spacing:1px;

}


.rollover{
	display: block;
}
