/*CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0;padding: 0;border: 0;outline: 0;}
:focus {outline: 0;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
a {text-decoration:none;cursor:pointer;}
a, a:hover, a:active {color:#000;}
ul {list-style:none;}
.clear{clear:both;}
.full{width:100%;}
.hidden{display:none;}
/*-----------------------------------------------*/


html {
	width: 100%;
	height: 100%;
}


body{
	position: relative;
	background-color:#ffffff;
	background-image:url('/static/img/tile.png');
	background-position:top;
	background-repeat:repeat;
}


@font-face {
font-family: "Courier", Georgia, Serif;
font-weight: normal;
font-style: normal;
}


#logo {
	position:relative;
	z-index:-1000;
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	margin-top: auto;
	margin-bottom: auto;*/
	padding-top: 8%;
	padding-left: 12%;
	padding-right: 10%;
}

#logo-mobile {
	/*position:absolute;*/
	z-index:1200;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20%;
	padding-bottom:20%;
}


#left {
	position:relative;
	z-index: 900;
	display: block;
	
	margin-top:-115%;
	margin-bottom: 50%;

	padding-top: 30%;
	padding-left: 8%;
	padding-right:25%;
	padding-bottom:10%;
	
}

/*#left-mobile {
	position:relative;
	z-index: 900;
	display: block;
	
	margin-top:-120%;
	margin-bottom: 50%;

	padding-top: 35%;
	padding-left: 8%;
	padding-right:25%;
	padding-bottom:50%;
	
}*/

#middle {
	margin-left: 35%;
	margin-right: 65%;
	display: block;
	padding-left: 110px;
	padding-right: 60px;
	/*margin-top:-60%;*/
	/*margin-bottom: -100%;*/

}

#right {
	z-index: 800;
	/*position:  absolute;*/
	display: block;
	
	margin-top:-125%;
	margin-bottom: 70%;
	padding-top: 39%;
	padding-left: 25%;
	padding-right:30%;
	padding-bottom:55%;
	
}

#right-mobile {
	z-index: 800;
	/*position:  absolute;*/
	display: block;
	
	margin-top:-120%;
	margin-bottom: 50%;
	padding-top: 35%;
	padding-left: 38%;
	padding-right:30%;
	padding-bottom:55%;
	
}



#btnbtn {
	margin-left: 62px;
	padding-left: 30px;
}



.email-btn:active {
	position:relative;
	top:1px;
}

.email-btn:hover {
	color: #777777;
}

h2{
	font:normal 15px Courier;
	line-height:13px;
	}

h3{
	font:normal 13px Courier;
	}

p li{
	font:normal 15px Courier;
	line-height:11px;
	}


.email-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#48bab0;
	/*background-color:transparent;*/
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:0px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family:Courier;
	font-size:12px;
	font-weight:bold;
	letter-spacing:2px;
	padding:3px 14px 3px 14px;
	text-decoration:none;
	margin-top: -40px;
}

#push, #footer{
	font: normal 11px "Georgia";
	letter-spacing: 2px;
	/*position: absolute;*/
	/*margin-top: -150px;
	margin: 0px auto;*/
	height: 50px;
	padding-left: 40%;
	/*clear: both;*/
	/*padding-top:20px;*/
}



.dropcap{
	color: #319B96;
	font:normal 22px Courier;
	/*line-height:20px;*/
	letter-spacing:1px;

}

.rollover{
	display: block;
}


@media (min-width: 1200px) {
	h2{
	font:normal 16px Courier;
	}

	h3{
	font:normal 14px Courier;
	}

	p li{
	font:normal 16px Courier;
	line-height:12px;
	}

	.email-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#48bab0;
	/*background-color:transparent;*/
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:0px solid #dcdcdc;
	display:inline-block;
	color:#444444;
	font-family:Courier;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	padding:3.5px 22px;
	text-decoration:none;
	margin-top: -40px;
}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	h2{
	font:normal 14px Courier;
	}

	h3{
	font:normal 12px Courier;
	}

	p li{
	font:normal 14px Courier;
	line-height:12px;
	}

	
}


 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	h2{
		font:normal 12px Courier;
	/*line-height:30px;*/
	}

	h3{
		font:normal 10px Courier;
	/*line-height:30px;*/
	}


	p li{
		font:normal 12px Courier;
	/*line-height:12px;*/
	} 

	#left {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#right {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	display: none;

	h2{
	font:normal 12px Courier;
	/*line-height:30px;*/
	}

	h3{
	font:normal 11px Courier;
	/*line-height:30px;*/
	}


	p li{
	font:normal 12px Courier;
	/*line-height:12px;*/
	} 

	#left {
		text-align: left;
	}

	#right {
		/*text-align: center;*/
	}
}