{% extends "layout/main.html" %}
{% block body %}
<div id="container">       
  <div class = "row">
    <div class = "col-md-12">
        <div class = "row">       
				    <br/>
           	 <h6>404: NOT FOUND</h6>
             <br/><br/>
           	 <h6>Sorry, but the page you were trying to view does not exist. It looks like this was the result of either: a mistyped address / an out-of-date link.</h6>
             <br/><br/>
             <h6>Sincerely,</h6>
            <h6>Behive</h6>
            <br/><br/>
	     </div>
	   </div>
	 </div>
</div>
{% endblock %}

{% block styles %}
{% endblock %}
