{% extends "layout/main.html" %}
{% block body %}
<div id="container">       
    <div class = "row-fluid">
    	<div class = "span12">
          <div class = "row-fluid">       
				    <br/>
           	 <h6>404: NOT FOUND</h6>
             <br/><br/>
           	 <h6>Sorry, but the page you were trying to view does not exist. It looks like this was the result of either: a mistyped address / an out-of-date link.</h6>
             <br/><br/>
             <h6>Sincerely,</h6>
            <h6>Behive</h6>
            <br/><br/>
        <!-- <div class = "span3 offset6">
          <h1></h1>
    	</div> -->
	 </div>
	 </div>
	 </div>
</div>

{% endblock %}

{% block styles %}
{% endblock %}
