{% extends "layout/main.html" %}
{% block styles %}{% endblock %}
{% block body %}

<div id="container-fluid"> 
 <!-- this is for center logo for desktop version -->
    <div class = "row">
        <div class = "col-md-10" >      
            <img src="{{ url_for('static', filename='img/center_logo.png') }}" id = "logo" class = "visible-md visible-lg">
        </div>
    </div>
   
    
    <!-- this is for center logo mobile and tablet -->
     <div class = "row">
        <div class = "col-md-4 col-md-offset-4">     
            <img src="{{ url_for('static', filename='img/center_mobile.png') }}" id = "logo-mobile" class = "hidden-md hidden-lg">
        </div>
    </div>

    <div class = "row">
        <!--  <div class = "hidden-md">
                    <br/> <br/><br/><br/><br/><br/><br/><br/ >
                </div> -->
        <div class = "col-md-3 col-md-offset-2">
            <article id = "left">
                <br/>
                <h2>Thank <span class = "dropcap">U</span> for
                    your interest!<br/><br/>
                    The hive is being
                    built as we speak.
                </h2><br/>
                <h2>Sign up and see what all the
                        buzzzzzzz is about.</h2>
                <div class = "hidden-md">
                    <br/> <br/><br/><br/><br/><br/><br/><br/ > <br/><br/><br/><br/><br/><br/>
                   
                </div>
            <article>
        </div>

        <div class = "row">      
        <div class = "col-md-3 col-md-offset-2" >
            <article id = "right">
                    <form method="POST" action="/" >
                    
                    <h3>
                    {% if form.errors %}

                    <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                    {% endif %}

        
                    <p>Email:</p>{{ form.email(placeholder='honeybee@behive.me') }}

                    <p>First Name:</p>
                    {{ form.first(lass='myLabelCssClass',placeholder='Honey') }}

                    <p>Last Name:</p>
                    {{ form.last(lass='myLabelCssClass',placeholder='Bee') }}
                    </h3>
                    <br/>
                    <button type="submit" data-role="button" class="btn email-btn" id = "btnbtn">Submit</button>
                    </form>
                <article>
        </div>
    </div>
    </div>          
</div>
    

{% endblock %}


