{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}

<div id="container-fluid"> 

    <div class = "row-fluid">
        <div class = "span12">      
            <img src="{{ url_for('static', filename='img/center_logo.png') }}" id = "logo" class = "visible-desktop">
        </div>
    </div>
    
     <div class = "row-fluid">
        <div class = "span4 offset4">      
            <img src="{{ url_for('static', filename='img/center.png') }}" id = "logo" class = "hidden-desktop">
        </div>
    </div>


    <div class = "row-fluid">
        <div class = "span5">
            <article id = "left">
                <h2>Thank <span class = "dropcap">U</span> for<br/> 
                    your interest!<br/><br/>
                    The hive is being<br/> 
                    built as we speak.
                    </h2>
            <article>
        </div>
                
        <div class = "span5 offset2" >
            <article id = "right">
                     <!-- <img src="{{ url_for('static', filename='img/right.png') }}" class = "visible-desktop" > -->
                    <form method="POST" action="/" >
                    <h3>Sign up and
                        see what all the
                        buzzzzzzz is about.</h3>
                    <h3>
                    {% if form.errors %}

                    <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                    {% endif %}

                    {{ form.email.label(class='myLabelCssClass') }}
                    {{ form.email(class='myTextboxCssClass') }}

                    {{ form.first.label(class='myLabelCssClass') }}
                    {{ form.first(class='myTextboxCssClass') }}

                    {{ form.last.label(class='myLabelCssClass') }}
                    {{ form.last(class='myTextboxCssClass') }}
                    </h3>
                    <br/>
                    <button type="submit" class="email-btn" id = "btnbtn">Submit⬣</button>
                    </form>
                <article>
        </div>


        <!--   <div class = "row-fluid">
                <div class = "span4 offset4" id = "middle">
                     <img src="{{ url_for('static', filename='img/center.png') }}" >
                </div>
         </div> -->
<!-- 
    <div class = "row-fluid">
        <div class = "span8 offset2"> 

    <div class = "row-fluid">
        <div class = "span3 offset2" id = "left">
            <h2>Thank <span class = "dropcap">U</span> for<br/> 
                    your interest!<br/><br/>
                    The hive is being<br/> 
                    built as we speak.</h2>
        </div>
    </div>

   
 -->
<!-- 
    <div class = "row-fluid">
        <div class="span3 offset2" id = "right">

                    <form method="POST" action="/" >
                    <h3>Sign up and
                        see what all the
                        buzzzzzzz is about.</h3>

                    <h3>
                    {% if form.errors %}

                    <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                    {% endif %}

                    {{ form.email.label(class='myLabelCssClass') }}
                    {{ form.email(class='myTextboxCssClass') }}

                    {{ form.first.label(class='myLabelCssClass') }}
                    {{ form.first(class='myTextboxCssClass') }}

                    {{ form.last.label(class='myLabelCssClass') }}
                    {{ form.last(class='myTextboxCssClass') }}
                    </h3>
                    <br/>
                    <button type="submit" class="email-btn" id = "btnbtn">Submit⬣</button>
                    </form> -->

    </div>          
</div>
    

{% endblock %}


