
{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}


<div id="container">       
<div class = "row-fluid">
    <div class = "span12">
        
            <div class = "row-fluid">
                <img src="{{ url_for('static', filename='img/center_logo.png') }}" id = "logo">
                <div class = "span3 offset2" id = "left">
                    <h2>Thank <span class = "dropcap">U</span> for<br/> 
                    your interest!<br/><br/>
                    The hive is being<br/> 
                    built as we speak.</h2>
                </div>

<!--              <div class = "row-fluid"> -->
                <div class="span3 offset2" id = "right">

                    <form method="POST" action="/" >
                    <h2>Sign up and<br/>
                        see what all the<br/>
                        buzzzzzzz is about.</h2>

                    <h2>
                    {% if form.errors %}

                    <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="alert">{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                    {% endif %}

                    {{ form.email.label(class='myLabelCssClass') }}
                    {{ form.email(class='myTextboxCssClass') }}
                    </h2>
                    <br/>
                    <button type="submit" class="email-btn" id = "btnbtn">Submit</button>
                    </form>
                </div>
            </div>
        </div>          
    </div>
</div>

            

{% endblock %}


