<!-- # Behive Splash Page -->
<!-- # last revision on November 1, 2013 -->
<!-- # by Hiye Shin -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ behive }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block styles %}
        {% endblock %}
        
        <script type = "text/javascript" src="{{ url_for('static', filename='js/modernizr_splash.js') }}" ></script>  
    </head>

    <body>
        <canvas id = "hexagon-background"></canvas>
         {% block body %}{% endblock %}

        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <!--    // <script src="{{ url_for('static', filename='js/jquery-ui-1.8.18.custom.min.js') }}"></script>
        // <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        // <script src="{{ url_for('static', filename='js/jquery.smooth-scroll.min.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>

